.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
}

.App-footer {
  padding: 0 10px;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
  padding: 100;
}

.App-link {
  color: #61dafb;
}

.First-element {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
